
/* index.php style */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    min-height: 200vh;
    background-color: #3bb7ff;
}


.logo {
    float: left;
    margin: -7px 4px 10px 20px;
    /* font-size: 1.65em; */
    width: 110px;

}


.main-nav a.nav-item {
    padding: 10px 15px;
    text-transform: none;
	text-align: center;
	display: inline-block;
	font-size: 1.25em;
    color:#0a1018;
    text-decoration: none;
}



a.nav-item:hover {
	color: #718daa;
}


.header {
    position: sticky;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.login {
    float: right;
    margin-right: 40px;
}

a.welcome-text {
    font-size: 120%;
    text-shadow: 2px 2px 5px gray;
}



#tartalom {
    margin:auto;    
    position: absolute;
}






/* receptek.php style */

.etelek {
    border: solid 1px black; 
    border-radius: 0.6rem;
    background-color: #4dbcfc;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    margin: 40px 50px;
    padding: 8px;
    width: 600px;
}

.etelek:hover {
    transform: scale(1);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
}

.recept-nev {
    margin: 10px 20px;
    font-size: 25px;
    font-weight: bolder;
}

.recept-osszetevok li{
    list-style-type: none;
    margin-left: -15px;
    max-width: 80%;
}

.recept-elkeszites {
    padding: 0 25px 10px;
}



.btns{
    float: right;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 28px;
    margin: 20px;
    color: grey;
}

.btns i.fa-heart:active {
    color: red;
}

.btns i.fa-heart:hover{
    cursor: pointer;
    color: black;
}



.recfelTitle {
    width: 100%;
    text-align: center;
}

.recept-item {
    margin: 5px 20px 5px;
}

.recept-item textarea {
    resize: none;
}

.receptName {
    width: 200px;
}

.recSubmit {
    width: 135px;
    height: 40px;
}












/* RESPONSIVE */

@media screen and (max-width: 1000px) {

    .header .main-nav{
        display: inline-block;
        text-align: center;
        float: none;
        flex-flow: column;
    }
    .login {
        float: none;
    }





    .etelek {
        width: 60%
    }
}