
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.6;
    min-height: 100vh;
    background-color: #3bb7ff;
}

a {
    text-decoration: none;
}

.header {
    box-sizing: border-box;
}

.logo {
    float: left;
    margin: -7px 4px 10px 20px;
    /* font-size: 1.65em; */
    width: 110px;

}


.main-nav a {
    padding: 10px 15px;
    text-transform: none;
	text-align: center;
	display: inline-block;
	font-size: 1.25em;
    color:#0a1018;
}



a.nav-item:hover {
	color: #718daa;
}


.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.login {
    float: right;
    margin-right: 40px;
}

.welcome-test {
    font-size: 50%;
}







#tartalom {
    position: absolute;
    margin:auto;
}

